doctype html
html(lang="ja")
  head
    include _layout_head_meta

    meta(name="description", content="")
    meta(name="keywords", content="")
    title= title

    include _layout_head_style

  body
    #page-index(data-role="page")
      div(data-role="header")
        h1= title

      div(role="main", data-role="ui-content")
        p This is template for jQuery Mobile with Roots!
      
        #journals
          ul(data-role="listview", data-inset="true")
            li(data-role="list-divider") Journals
            - each journal in sort(site.journals, { by: 'date' })
              li
                a(href="#{journal.url}")= journal.date + " - " + journal.title

      div(data-role="footer")
        h4 Copyright (C) 20xx

    include _layout_body_scripts

    include _ga
